@font-face {src: url(“FontFreeSans.ttf”);} /*FreeSans*/
@font-face {src: url(“FontDejaVuSansMono.ttf”);} /*FontDejaVuSansMono*/

.background_top
{
    /*    -fx-background-image: url('../../shared-resources/fxmldemoImages/CoarseGrid.png');*/
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#606060 0%, #505050 53%, #404040 54%, #303030 100%);
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-padding: 15 30 15 30;
    -fx-text-fill: white;
    -fx-font-family: "FreeSans";
    /*-fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) ,
                1, 0.0 , 0 , 1);*/
}

.background_bottom
{
    /*    -fx-background-image: url('../../shared-resources/fxmldemoImages/CoarseGrid.png');*/
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#404040 0%, #303030 53%, #303030 54%, #202020 100%);
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-padding: 15 30 15 30;
    -fx-text-fill: white;
    -fx-font-family: "FreeSans";
    /*-fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) ,
                1, 0.0 , 0 , 1);*/
}

.background_dark
{
    /*    -fx-background-image: url('../../shared-resources/fxmldemoImages/CoarseGrid.png');*/
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%)
        ,linear-gradient(#020b02, #3a3a3a)
        ,linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%)
        ,linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%)
        ,linear-gradient(#252525 0%, #202020 50%, #101010 51%, #000000 100%)
	;
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-padding: 10 10 10 10;
    -fx-text-fill: white;
    -fx-font-family: "FreeSans";
    /*-fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) ,
                1, 0.0 , 0 , 1);*/
}

.background_log
{
    /*    -fx-background-image: url('../../shared-resources/fxmldemoImages/CoarseGrid.png');*/
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%)
        ,linear-gradient(#020b02, #3a3a3a)
        ,linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%)
        ,linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%)
        ,linear-gradient(#252525 0%, #202020 50%, #101010 51%, #000000 100%)
	;
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-padding: 10 10 10 10;
    -fx-text-fill: white;
    -fx-font-family: "FreeSans";
    /*-fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) ,
                1, 0.0 , 0 , 1);*/
}

.text_color_standard
{
    -fx-font-family: "FreeSans";
    -fx-text-fill: lightgray;
}

.text_color_low
{
    -fx-font-family: "FreeSans";
    -fx-text-fill: #888888;
}

.dashboard_generic
{
    -fx-font-family: "FreeSans";
    -fx-text-fill: lightgray;
    -fx-font-size: 10px;
}

.dashboard_low_profile
{
    -fx-font-family: "FreeSans";
    -fx-text-fill: gray;
    -fx-font-size: 10px;
}

.userguide
{
    -fx-font-family: "FreeSans";
    -fx-font-size: 64px;
}

.userguide_arrows
{
    -fx-font-family: "FreeSans";
    -fx-font-size: 64px;
}

.log
{
    -fx-font-family: "DejaVu Sans Mono";
    -fx-font-family: "Courier New";
    -fx-font-size: 10px;
    -fx-text-fill: #FFC200;
    -fx-background-color: #222222;
    -fx-control-inner-background: #222222;
}
