/*
 * CC BY-NC-ND 4.0 2018 Ron de Jong (ron@finalcrypt.org)
 *
 * This is free software; you can redistribute it 
 * under the terms of the Creative Common License
 * Creative Common License: (CC BY-NC-ND 4.0) as published by
 * https://creativecommons.org/licenses/by-nc-nd/4.0/ ; either
 * version 4.0 of the License, or (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
 * Creative Commons Attribution-NonCommercial-NoDerivatives 4.0
 * International Public License for more details.
 *
 * You should have received a copy of the Creative Commons 
 * Public License License along with this software;
 */

@font-face { font-family: 'Liberation Mono'; src: url('fonts/LiberationMono-Regular.ttf'); }
@font-face { font-family: 'Liberation Sans'; src: url('fonts/LiberationSans-Regular.ttf'); }

/*
    Test font on terminal: fc-match
*/

.background_top
{
/*        -fx-background-image: url('/rdj/images/1.jpg');
	-fx-background-size: cover;*/
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#383838 0%, #383838 53%, #383838 54%, #383838 100%); /* main panel 2 5 */
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-padding: 15 30 15 30;
    -fx-text-fill: white;
    -fx-font-family: "Liberation Sans";
}

.background_bottom
{
/*        -fx-background-image: url('/rdj/images/1.jpg');
	-fx-background-size: cover;*/
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#181818 0%, #181818 53%, #181818 54%, #181818 100%);
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-padding: 15 30 15 30;
    -fx-text-fill: white;
    -fx-font-family: "Liberation Sans";
}

.primary_key_button
{
    /*    -fx-background-image: url('../../shared-resources/fxmldemoImages/CoarseGrid.png');*/
    -fx-background-color:
        linear-gradient(#585858 0%, #232723 25%, #373837 75%, #656565 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#444444 0%, #333333 53%, #333333 54%, #252525 100%);
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-padding: 15 30 15 30;
    /*-fx-font-family: "Liberation Sans";*/
    -fx-text-fill: #dddddd;
}

.secondary_key_button
{
    /*    -fx-background-image: url('../../shared-resources/fxmldemoImages/CoarseGrid.png');*/
    -fx-background-color:
        linear-gradient(#585858 0%, #232723 25%, #373837 75%, #656565 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#7d7e7d 0%, #5b5a5b 20%, #303030 80%, #202020 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#444444 0%, #333333 53%, #333333 54%, #252525 100%);
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-padding: 15 30 15 30;
    /*-fx-font-family: "Liberation Sans";*/
    -fx-text-fill: #aaaaaa;
}

.background_dark
{
    /*    -fx-background-image: url('../../shared-resources/fxmldemoImages/CoarseGrid.png');*/
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%)
        ,linear-gradient(#020b02, #3a3a3a)
        ,linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%)
        ,linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%)
        ,linear-gradient(#151515 0%, #101010 50%, #050505 51%, #000000 100%) /* main display panel */
	;
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-padding: 10 10 10 10;
    -fx-text-fill: white;
    -fx-font-family: "Liberation Sans";
    /*-fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) ,
                1, 0.0 , 0 , 1);*/
}

.background_log
{
    /*    -fx-background-image: url('../../shared-resources/fxmldemoImages/CoarseGrid.png');*/
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%)
        ,linear-gradient(#020b02, #3a3a3a)
        ,linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%)
        ,linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%)
        ,linear-gradient(#252525 0%, #202020 50%, #101010 51%, #000000 100%)
	;
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-padding: 10 10 10 10;
    -fx-text-fill: white;
    -fx-font-family: "Liberation Sans";
    /*-fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) ,
                1, 0.0 , 0 , 1);*/
}

.text_color_standard
{
    -fx-font-family: "Liberation Sans";
    -fx-text-fill: lightgray;
}

.text_color_low
{
    -fx-font-family: "Liberation Sans";
    -fx-text-fill: #888888;
}

.dashboard_generic
{
    -fx-font-family: "Liberation Sans";
    -fx-text-fill: dimgrey;
    -fx-font-size: 10px;
}

.dashboard_low_profile
{
    -fx-font-family: "Liberation Sans";
    -fx-text-fill: gray;
    -fx-font-size: 10px;
}

.userguide
{
    /*Liberation Sans*/
    /*Dyuthi*/
    /*EB Garamond*/
    /*IPAPGothic*/
    /*Edit Undo Dot BRK(super)*/
    /*Gather Gapped BRK(heel gaaf)*/
    /*Lyneous Linear BRK(gaaf)*/
    /*Manjari(super)*/
    
    -fx-font-family: "Liberation Sans";
}

.userguide_arrows
{
    -fx-font-family: "Liberation Sans";
    -fx-font-size: 64px;
    -fx-text-fill: #CCCCCC;
}

.log
{
    -fx-font-family: "Courier New";
    -fx-font-family: "DejaVu Sans Mono";
    -fx-font-family: "Liberation Mono";
    -fx-font-size: 10px;
    -fx-text-fill: #FFC200;
    -fx-background-color: #222222;
    -fx-control-inner-background: #222222;
}
